# Project exclude paths
/.gradle/
/build/
/build/classes/java/main/
/.idea/
/out/
/.intellijPlatform/

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr
.logs/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### 项目特定 ###
/param.dtd
/parameter.xml
